/* .container {
 margin: auto;
  width: 80%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.card-img img {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 60%;
  object-fit: cover;
  transition: transform 0.8s ease;
  z-index: 2;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  width:33%;
  height: 60%;
  background: #fff;
  color: #111;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  z-index: 1;
  transition: transform 0.8s ease;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.home {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 50%;
  position: relative;
  height: auto;
  min-height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card .card-img {
  position: relative;
  width: 65%;
  height: 33%;
  z-index: 2;
}

.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}

.card .text-box {
  position: absolute;
  top: 30%;
  width: 65%;
  height: 38%;
  padding: 10% 2% 10% 2%;
  background-color: #fff;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  transition: transform 0.8s ease;
}
.text-box h2,
.text-box p {
  font-size: 20px;
}
.text-box hr {
  width: 15%;
  height: 4px;
  margin: 6% auto;
  background-color: blue;
}
.card:hover .card-img img {
  transform: translateY(-50%);
}

.card:hover .text-box {
  transform: translateY(30%);
}
